/* ---BUTTON--- */
.button {
    background: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 58px;
    padding: 5px 30px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease 0s;
    color: var(--main-text-color);
    box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
}
.button-left {
    padding: 0px 36.566px 9.403px 0px;
}
.button:hover {
    background: var(--button-color-shadow);
}

.button-white {
    background: none;
    border: 1px solid #FFF;
}
.button-white:hover {
    background: var(--main-text-color);
    color: #000;    
}