@import url("services__item-serv.css");
@import url("services__title.css");

.services__title {
    margin: 0 0 20px 0;
}
.services__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services__column {
    flex: 0 1 267px;
    display: flex;
}

/* PC */
@media (max-width:1310px) {
    .services__row {
        row-gap: 20px; 
        margin: 0 -20px;
    }
    .services__column {
        flex: 0 1 50%;
        padding: 0 20px;
    }
    .services__interactive {
        display: none;
    }
}

/* Tablet */
@media (max-width:992px) {
    .services__column {
        flex: 0 1 100%;
    }
}
