@import url("favourite__card.css");

.favourite__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 337px;
}
@media (max-width: 1536px) {
    .favourite__row {
        grid-gap: 137px;
    }
}
@media (max-width: 1310px) {
    .favourite__row {
        grid-gap: 50px;
    }
}
@media (max-width: 992px) {
    .favourite__row {
        grid-gap: 0px;
        flex-direction: column;
    }
}
.favourite__column-content {
    flex: 0 1 458px;
}
.favourite__column-card {
    flex: 0 1 370px;
}
@media (max-width: 992px) {
    .favourite__row {
        row-gap: 50px;
    }
    .favourite__column-content {
        flex: 1 1 100%;
    }
}
