.user-icons {
    display: flex;
}
.user-icons__box-images {
    display: flex;
    margin: 0 14px 0 0;
}
.user-icons__block-image {
    cursor: pointer;
}
.user-icons__block-image:not(:first-child) {
    width: 37px;
    height: 37px;
    margin: 0 0 0 -15px;
}
.user-icons__block-image img {
    max-width: 100%;
}
.user-icons__add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    background: var(--button-color);
    color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
    border-radius: 50%;
}
.user-icons__text {
    color: var(--main-text-color);
    font-size: 12.537px;
    font-weight: 500;
    line-height: 3;
}
@media (max-width: 767px) {
    .user-icons {
        flex-direction: column;
    }
    .user-icons__text {
        margin: 0;
    }
}